[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gpxpy = "*"
pandas = "*"
matplotlib = "*"
folium = "*"
ipython = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.10"
